body {
  margin: 0;
  background-image: url("public/poze/pexels-photo-4491918.jpeg");
  background-repeat: repeat-y;
  background-size: cover;
}

.background {
  margin: 0;
  /* background-image: url("/poze/pexels-photo-4491918.jpeg");
  background-repeat: no-repeat;
  background-size: cover; */
}
.navigation {
  position: fixed;
  background: rgba(31, 78, 7, 0.7);
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(245, 139, 10);
  list-style-type: none;
}
.dissapear {
  background-image: url("public/poze/fundal.jpeg");
  background-repeat: repeat-y;
  background-size: cover;
  display: none;
  border-radius: 15px;
  position: fixed;
  border: 3px solid darkslategray;
  width: 100%;
  height: 100%;
}
.pozaDissapear {
  margin: auto;
  border-radius: 15px;
  width: 80%;
  height: 80%;
  border: 20px groove #3b6633;
}
.closeDissapear {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: 2px solid red;
  border-radius: 10px;
  color: red;
  background-color: darkslategray;
  font-weight: bold;
  font-size: 30px;
}
.menu {
  display: none;
}
.submenu {
  pointer-events: none;
  border-radius: 0px 15px 0px 15px;
  border: 4px solid rgb(245, 139, 10);
  font-size: 20px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  position: absolute;
  top: 60px;
  right: 10px;
  opacity: 0;
  transition: opacity 2.5s ease;
  height: auto;
  background-color: darkslategrey;
  width: 200px;
}
.submenu p {
  border-bottom: 2px solid rgb(245, 139, 10);
}
.submenu a {
  font-size: 30px;
  text-decoration: none;
  color: rgb(245, 139, 10);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.close {
  font-weight: bolder;
  background-color: khaki;
  color: red;
  font-size: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: absolute;
  cursor: pointer;
  margin-top: 5px;
  right: 5px;
  width: 35px;
  height: auto;
  border-radius: 50%;
  border: 2px solid red;
}
.navigation li:first-child {
  margin-left: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.brand {
  font-size: 40px;
  font-family: "Dancing Script", cursive;
  font-weight: bolder;
}
.navigation a {
  text-decoration: none;
  color: rgb(245, 139, 10);
}
.navigation li {
  font-size: 25px;
  font-family: "Dancing Script", cursive;
  font-weight: bold;
}
.navigation li:first-child:hover {
  cursor: pointer;
}
.navigation li:nth-child(5) {
  margin-right: 30px;
}
.navigation li:not(:first-child):hover {
  cursor: pointer;
  border: 2px solid rgb(3, 22, 83);
  border-radius: 7px;
  background-color: rgb(6, 70, 6);
}
.navigation li:nth-child(4) {
  cursor: pointer;
  border: 2px solid rgb(3, 22, 83);
  border-radius: 7px;
  background-color: rgb(6, 70, 6);
}
.tree {
  width: 85px;
  height: 65px;
}

#select {
  cursor: pointer;
  margin-left: 10px;
  height: 50px;
  width: auto;
  margin-top: 100px;
  color: rgb(255, 174, 74);
  border-radius: 10px;
  background-color: rgb(6, 70, 6);
  font-size: 20px;
  border: 2px solid rgb(255, 174, 74);
}
.optionTwo:hover {
  cursor: pointer;
  color: red;
}
.models {
  object-fit: cover;
  border-radius: 0 20px 0 20px;
  cursor: pointer;
  width: 350px;
  height: 300px;
  box-shadow: rgb(40 12 8) 20px -14px 20px;
  margin-top: 30px;
}
.appearCerdac {
  cursor: pointer;
  background-color: yellow;
}
.firstPicturesSection {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-left: 15px;
}
.pozamare {
  box-shadow: 19px 20px 20px #641f1f;
  object-fit: cover;
  border: 4px solid darkred;
  border-radius: 0px 20px 0 20px;
  height: 300px;
}
.secondPicturescSection {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-right: 15px;
}
.section {
  display: none;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
}
.mainPictureSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
}

.backtoOne {
  box-shadow: 11px -2px 13px black;
  font-size: 30px;
  cursor: pointer;
  color: yellow;
  background-color: grey;
  border-radius: 5px;
  border: 2px solid yellow;
  height: 40px;
  width: min-content;
}
.backtoOne:hover {
  color: aqua;
  background-color: rgb(6, 70, 6);
  border: 2px solid aqua;
}
.comanda {
  display: none;
  border-radius: 20px;
  padding: 10px;
  width: max-content;
  height: auto;
  background-color: rgb(245, 139, 10);
  margin: 30px auto 30px auto;
  box-shadow: 20px 20px 20px 0px rgb(182, 106, 8);
}
.comanda p {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.comanda label {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
}
.comandaTitle {
  text-align: center;
  font-family: "Dancing Script", cursive;
  color: rgb(7, 11, 58);
}
.submit-wrapper {
  display: flex;
  justify-content: flex-end;
  padding-top: 1rem;
}
.submit {
  display: flex;
  height: 50px;
  background-color: green;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  white-space: nowrap;
  font-size: 17px;
  align-items: center;
  gap: 0.2rem;
}
.values {
  background-color: green;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
  width: max-content;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 17px;
}
.comanda .introduceti {
  font-family: monospace;
  width: max-content;
  margin: auto;
}
.email {
  margin: 10px auto 10px auto;
  margin: 10px auto 10px auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.inputEmail {
  border-radius: 15px;
  height: 50px;
  background-color: green;
  color: white;
  border: 2px solid sandybrown;
  font-size: 17px;
  font-weight: bold;
}
.inputEmail::placeholder {
  color: white;
  padding-left: 20px;
  font-size: 17px;
}

.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #f58b0b; /* Blue */
  border-radius: 50%;
  width: 12px;
  height: 12px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 1000px) {
  body {
    margin: 0;
    background-image: url("public/poze/pexels-photo-6790027.jpeg");
    background-repeat: repeat-y;
    background-size: cover;
  }
  .menu {
    display: flex;
  }
  .background {
    display: flex;
    align-content: center;
    flex-direction: column;
    height: 50%;
    margin: 0;

    /* background-image: url("/poze/pexels-photo-6790027.jpeg");
    background-repeat: no-repeat;
    background-size: cover; */
  }

  .navigation li:not(.brand, .menu) {
    display: none;
  }
  .navigation {
    position: fixed;
    background: rgba(31, 78, 7, 0.7);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
  }
  .navigation li {
    font-size: 15px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: bold;
  }
  .brand {
    font-size: 30px;
    font-family: "Dancing Script", cursive;
    font-weight: bolder;
  }
  .navigation li:first-child {
    margin-left: 10px;
    display: flex;
    align-items: center;
    gap: 0px;
  }
  .navigation li:last-child {
    margin-right: 10px;
  }
  .navigation a {
    text-decoration: none;
    color: rgb(245, 139, 10);
  }
  #select {
    margin-bottom: 50px;
    margin-top: 100px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 200px;
    color: rgb(255, 174, 74);
    border-radius: 10px;
    background-color: rgb(6, 70, 6);
    font-size: 20px;
    border: 2px solid rgb(255, 174, 74);
  }
  .section {
    display: none;
    width: min-content;
    margin: auto;
    gap: 20px;
  }

  .pozamare {
    width: 80%;
    border: 4px solid darkred;
    border-radius: 0px 20px 0 20px;
  }
  .models {
    border: 2px solid rgb(255, 174, 74);
    border-radius: 0 20px 0 20px;
    cursor: pointer;
    width: 350px;
    height: 300px;
    background-color: red;
    margin: auto;
  }
  .firstPicturesSection {
    margin: auto;
  }

  .backtoOne {
    font-size: 30px;
    cursor: pointer;
    color: yellow;
    background-color: grey;
    border-radius: 5px;
    border: 2px solid yellow;
    height: 40px;
    width: 100px;
  }
  .secondPicturescSection {
    margin: auto;
    height: 150%;
  }
  .submenu {
    pointer-events: none;
    border-radius: 0px 15px 0px 15px;
    border: 4px solid rgb(245, 139, 10);
    font-size: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    position: fixed;
    top: 60px;
    right: 10px;
    opacity: 0;
    transition: opacity 2.5s ease;
    height: auto;
    background-color: darkslategrey;
    width: 200px;
  }
  .mainPictureSection {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .dissapear {
    display: flex;
    border-radius: 15px;
    position: fixed;
    border: 3px solid darkslategray;
    width: 100%;
    height: 100vh;
    opacity: 0;
    transition: opacity 2.5s ease;
    z-index: -999;
    background-image: url("public/poze/fundal.jpeg");
    background-repeat: repeat-y;
    background-size: cover;
  }

  .pozaDissapear {
    border-radius: 15px;
    width: 80%;
    height: 85%;
    margin: auto;
    border: 20px groove #3b6633;
  }
  .comanda {
    display: none;
    border-radius: 20px;
    padding: 10px;
    width: 300px;
    height: auto;
    background-color: rgb(245, 139, 10);
    margin: 30px auto 30px auto;
    box-shadow: 20px 20px 20px 0px rgb(182, 106, 8);
  }
  .comanda .introduceti {
    font-family: monospace;
    width: max-content;
    margin: auto;
    font-size: 15px;
  }
  .firstPicturesSection {
    gap: 30px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-left: 15px;
    flex-wrap: wrap;
  }

  .secondPicturescSection {
    gap: 30px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-right: 15px;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 500px) {
  .dissapear {
    display: flex;
    border-radius: 15px;
    position: fixed;
    border: 3px solid darkslategray;
    width: 100%;
    height: 35rem;
    opacity: 0;
    transition: opacity 2.5s ease;
    z-index: -999;
    background-image: url("public/poze/fundal.jpeg");
    background-repeat: repeat-y;
    background-size: cover;
  }
  .pozaDissapear {
    border-radius: 15px;
    width: 90%;
    height: 55%;
    margin: auto;
    border: 20px groove #3b6633;
  }
  .section {
    display: none;
    width: min-content;
    margin: auto;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .comanda {
    display: none;
    border-radius: 20px;
    padding: 10px;
    width: 300px;
    height: 100vh;
    background-color: rgb(245, 139, 10);
    margin: 30px auto 30px auto;
    box-shadow: 20px 20px 20px 0px rgb(182, 106, 8);
  }
}
